name: Local Assistant
version: 1.0.0
schema: v1
models:
  - name: Claude 3.5 Sonnet
    provider: anthropic
    model: claude-3-5-sonnet-latest
    apiKey: {{ joinPath .chezmoi.sourceDir "private_dot_keys" "encrypted_private_anthropic-key.txt.age" | include | decrypt }}
    roles:
      - chat
      - edit
      - apply
      - summarize
      - rerank

context:
  - provider: code
  - provider: docs
  - provider: diff
  - provider: terminal
  - provider: problems
  - provider: folder
  - provider: codebase