#!/usr/bin/env chezmoi_modify_manager

{{ if eq .currentDesktop "KDE" }}
source auto

ignore "General" "ColorSchemeHash"
ignore "KFileDialog Settings" "Show hidden files"
ignore "KFileDialog Settings" "Show Inline Previews"
ignore section "DirSelect Dialog"

{{ end }}