#!/bin/sh

{{ if eq .osId "linux-arch" }}

    # Enable docker service
    sudo systemctl enable docker.service

    # Enable snap service
    sudo systemctl enable --now snapd.socket
    sudo systemctl enable --now snapd.apparmor.service

    # Enable bluetooth
    sudo systemctl enable --now bluetooth

{{ end }}