#!/bin/sh

{{ if eq .osId "linux-arch" }}

    # Install zsh and ghostty terminal with starship
    yay -S --noconfirm ghostty zsh zsh-antidote starship

    # Change shell to zsh
    chsh -s $(which zsh)

{{ end }}