#!/bin/sh

{{ if eq .osId "linux-arch" }}

    # Create directories to use with $XDG_*
    mkdir -p $HOME/.local/bin
    mkdir -p $HOME/.local/pvm
    mkdir -p $HOME/.local/share
    mkdir -p $HOME/.local/state
    mkdir -p $HOME/.cache

    # Create the .ssh and .keys directories
    mkdir -p $HOME/.ssh
    chmod 700 $HOME/.ssh
    mkdir -p $HOME/.keys
    chmod 700 $HOME/.keys

    # Create a directory for synced files
    mkdir -p $HOME/Synchronized

{{ else }}
    echo "ERROR: This script is only supported on Arch Linux systems"
    echo "Required: osId 'linux-arch'"
    echo "Detected: '{{ .osId }}'"
    echo "Script: $(basename "$0")"
    exit 1
{{ end }}
