#!/bin/sh

{{ if eq .chezmoi.osRelease.id "endeavouros" }}

    rate-mirrors --protocol https endeavouros | sudo tee /etc/pacman.d/endeavouros-mirrorlist
    eos-update
    yay -S --noconfirm nvidia-inst
    nvidia-inst -of --no-dkms
    eos-kernel-nvidia-update-check
    
{{ else }}
    echo "ERROR: This script is only supported on EndeavourOS systems"
    echo "Required: osRelease.id 'endeavouros'"
    echo "Detected: '{{ .chezmoi.osRelease.id }}'"
    echo "Script: $(basename "$0")"
    exit 1
{{ end }}
