#!/bin/sh

{{ if eq .osId "linux-arch" }}

    rbw config set email {{ .personalEmail }}
    rbw config set base_url {{ .privateServer | replace "www" "vaultwarden" }}
    rbw login
    rbw sync
    rbw get dotfiles-key > $HOME/.keys/dotfiles-key.txt
    rbw lock
    chmod 600 ~/.keys/*

{{ else }}
    echo "ERROR: This script is only supported on Arch Linux systems"
    echo "Required: osId 'linux-arch'"
    echo "Detected: '{{ .osId }}'"
    echo "Script: $(basename "$0")"
    exit 1
{{ end }}
