#!/bin/sh

{{ if eq .chezmoi.osRelease.id "endeavouros" }}

    rate-mirrors --protocol https endeavouros | sudo tee /etc/pacman.d/endeavouros-mirrorlist
    eos-update
    yay -S --noconfirm nvidia-inst
    nvidia-inst
    eos-kernel-nvidia-update-check
    
{{ end }}
