#!/bin/sh

{{ if eq .osId "linux-arch" }}

    # Create directories to use with $XDG_*
    mkdir -p $HOME/.local/bin
    mkdir -p $HOME/.local/pvm
    mkdir -p $HOME/.local/share
    mkdir -p $HOME/.local/state
    mkdir -p $HOME/.cache

    # Create the .ssh directory
    mkdir -p $HOME/.ssh

    # Create a directory for projects
    mkdir -p $HOME/Projects

{{ end }}