stages:
  - distribute

mirror-to-github:
  stage: distribute
  image: bitnami/git:latest
  variables:
    GIT_STRATEGY: fetch
  script:
    - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git"
    - git fetch github
    - git push github HEAD:$CI_COMMIT_BRANCH --force
  interruptible: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $GITHUB_ACCESS_TOKEN && $GITHUB_REPO_URL'
      when: on_success