.mcp.json
*.md
!STYLE-GUIDE.md

!**/CLAUDE.md
!.claude/agents/*
!.claude/commands/*
!.claude/skills/*
!.claude/skills/**/SKILL.md

!_guides/*.md

!private_dot_config/**/commands/*.md
!private_dot_config/**/skills/**/*.md
!_plans/**.md
!_research/**.md

__pycache__