IdentitiesOnly yes

# GITHUB - Personal
Host github.com
   HostName github.com
   PreferredAuthentications publickey
   IdentityFile ~/.ssh/github

# GITLAB - Personal
Host gitlab.com
   HostName gitlab.com
   PreferredAuthentications publickey
   IdentityFile ~/.ssh/gitlab

# OVH Server - VPS
Host ovh-vps
  HostName {{ .ovhVPSServerIP }}
  User amaury
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/ovh-vps

# OVH Server - Bare Metal KS5
Host ovh-ks5
  HostName {{ .ovhKS5ServerIP }}
  User amaury
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/ovh-ks5

