IdentitiesOnly yes

# GITHUB - Personal
Host github.com
   HostName github.com
   PreferredAuthentications publickey
   IdentityFile ~/.ssh/github

# GITLAB - Personal
Host gitlab.com
   HostName gitlab.com
   PreferredAuthentications publickey
   IdentityFile ~/.ssh/gitlab

# OVH Server - Personal
Host ovh
  HostName {{ .ovhServerIP }}
  Port {{ .ovhServerPort }}
  User debian
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/ovh-server
