[core]
    pager = delta

[user]
	email = {{ .workEmail }}
	name = {{ .fullname }}

[init]
	defaultBranch = main

[log]
  	abbrevCommit = true
  	follow = true
  	decorate = false

[merge]
	ff = only
    conflictstyle = zdiff3

[push]
  	default = upstream
  	followTags = true
	autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
	side-by-side = true
