[core]
    pager = delta
	attributesfile = ~/.config/git/.gitattributes

[user]
	email = {{ .workEmail }}
	name = {{ .fullname }}

[alias]
	co = checkout
	st = status
	br = branch
	cm = commit

[delta]
    navigate = true
	side-by-side = true

[fetch]
	prune = true

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[log]
  	abbrevCommit = true
  	follow = true
  	decorate = false

[merge]
	ff = only
    conflictstyle = zdiff3

[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[push]
  	default = upstream
  	followTags = true
	autoSetupRemote = true
	
[pull]
	rebase = true
