{
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[yaml]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "diffEditor.ignoreTrimWhitespace": false,
  "diffEditor.maxComputationTime": 0,
  "editor.fontFamily": "\"FiraCode Nerd Font\"",
  "explorer.confirmDragAndDrop": false,
  "explorer.confirmPasteNative": false,
  "git.autofetch": true,
  "git.confirmSync": false,
  "git.ignoreRebaseWarning": true,
  "npm.scriptRunner": "yarn",
  "redhat.telemetry.enabled": false,
  "svg.preview.mode": "img",
  "terminal.explorerKind": "external",
  "terminal.external.linuxExec": "ghossty",
  "terminal.integrated.defaultProfile.linux": "zsh",
  "terminal.integrated.defaultProfile.osx": "zsh",
  "terminal.integrated.enableMultiLinePasteWarning": "never",
{{- $themePath := joinPath .chezmoi.homeDir ".config/themes/current" }}
{{- $themeName := "" }}
{{- $vscodeTheme := "" }}
{{- if stat $themePath }}
{{-   $themeName = base (output "readlink" $themePath | trim) }}
{{-   if eq $themeName "catppuccin-latte" }}
{{-     $vscodeTheme = "Catppuccin Latte" }}
{{-   else if eq $themeName "catppuccin-mocha" }}
{{-     $vscodeTheme = "Catppuccin Mocha" }}
{{-   else if eq $themeName "rose-pine-dawn" }}
{{-     $vscodeTheme = "Rosé Pine Dawn" }}
{{-   else if eq $themeName "rose-pine-moon" }}
{{-     $vscodeTheme = "Rosé Pine Moon" }}
{{-   else if eq $themeName "gruvbox-light" }}
{{-     $vscodeTheme = "Gruvbox Light Hard" }}
{{-   else if eq $themeName "gruvbox-dark" }}
{{-     $vscodeTheme = "Gruvbox Dark Hard" }}
{{-   else if eq $themeName "solarized-light" }}
{{-     $vscodeTheme = "Solarized Light" }}
{{-   else if eq $themeName "solarized-dark" }}
{{-     $vscodeTheme = "Solarized Dark" }}
{{-   end }}
{{- end }}
{{- if ne $vscodeTheme "" }}
  "workbench.colorTheme": {{ $vscodeTheme | quote }},
{{- end }}
  "workbench.editor.enablePreview": false,
  "workbench.sideBar.location": "right",
  "[dockercompose]": {
    "editor.insertSpaces": true,
    "editor.tabSize": 2,
    "editor.autoIndent": "advanced",
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "[github-actions-workflow]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  }
}
