{{- $zai_key := joinPath .chezmoi.sourceDir "private_dot_keys" "encrypted_private_zai-claude-key.txt.age" | include | decrypt | trim -}}
{
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "{{ $zai_key }}",
    "ANTHROPIC_BASE_URL": "https://api.z.ai/api/anthropic",
    "API_TIMEOUT_MS": "3000000"
  }
}
