[Settings]
gtk-icon-theme-name=Adwaita
gtk-cursor-theme-name=Adwaita
gtk-font-name={{ .terminalFont }} 11
gtk-theme-name=Adwaita
gtk-application-prefer-dark-theme=false
gtk-button-images=false
gtk-menu-images=false
gtk-enable-event-sounds=false
gtk-enable-input-feedback-sounds=false
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
gtk-xft-rgba=rgb
