font-family = {{ .globals.terminalFont | quote }}
font-size = {{ if eq .chassisType "desktop" }}14{{ else }}12{{ end }}
theme = current
window-theme = ghostty
gtk-single-instance = false
keybind = shift+enter=text:\x1b\r
